<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.fee.mapper.FeeManagementRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.fee.entity.FeeManagementRecord">
        <id column="id" property="id" />
        <result column="fee_type" property="feeType" />
        <result column="fee_type_description" property="feeTypeDescription" />
        <result column="fee_description" property="feeDescription" />
        <result column="amount" property="amount" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="status" property="status" />
        <result column="account" property="account" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="version" property="version" />
        <result column="extend" property="extend" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", fee_type AS "feeType", fee_type_description AS "feeTypeDescription", fee_description AS "feeDescription", amount AS "amount", dept_id AS "deptId", dept_name AS "deptName", status AS "status", account AS "account", start_date AS "startDate", end_date AS "endDate", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", version AS "version", extend AS "extend"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.fee.model.result.FeeManagementRecordResult" parameterType="cn.stylefeng.guns.modular.fee.model.params.FeeManagementRecordParam">
        select
        <include refid="Base_Column_List"/>
        from fee_management_record where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.fee.model.params.FeeManagementRecordParam">
        select
        <include refid="Base_Column_List"/>
        from fee_management_record where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.fee.model.result.FeeManagementRecordResult" parameterType="cn.stylefeng.guns.modular.fee.model.params.FeeManagementRecordParam">
        select
        <include refid="Base_Column_List"/>
        from fee_management_record where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.fee.model.params.FeeManagementRecordParam">
        select
        <include refid="Base_Column_List"/>
        from fee_management_record where 1 = 1
    </select>

</mapper>
