<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.lottery.mapper.LotteryManagementRecordMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.lottery.entity.LotteryManagementRecord">
        <id column="id" property="id"/>
        <result column="lottery_type" property="lotteryType"/>
        <result column="lottery_type_description" property="lotteryTypeDescription"/>
        <result column="sales_volume" property="salesVolume"/>
        <result column="commission" property="commission"/>
        <result column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="version" property="version"/>
        <result column="extend" property="extend"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">

        id AS "id", lottery_type AS "lotteryType", lottery_type_description AS "lotteryTypeDescription", sales_volume AS "salesVolume", commission AS "commission", dept_id AS "deptId", dept_name AS "deptName",status AS "status", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", version AS "version", extend AS "extend"

    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.lottery.model.result.LotteryManagementRecordResult"
            parameterType="cn.stylefeng.guns.modular.lottery.model.params.LotteryManagementRecordParam">

        select

        <include refid="Base_Column_List"/>

        from lottery_management_record where 1 = 1

    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.stylefeng.guns.modular.lottery.model.params.LotteryManagementRecordParam">

        select

        <include refid="Base_Column_List"/>

        from lottery_management_record where 1 = 1

    </select>

    <select id="customPageList"
            resultType="cn.stylefeng.guns.modular.lottery.model.result.LotteryManagementRecordResult"
            parameterType="cn.stylefeng.guns.modular.lottery.model.params.LotteryManagementRecordParam">

        select

        <include refid="Base_Column_List"/>

        from lottery_management_record where 1 = 1

    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.stylefeng.guns.modular.lottery.model.params.LotteryManagementRecordParam">

        select

        <include refid="Base_Column_List"/>

        from lottery_management_record where 1 = 1

    </select>
</mapper>
